<nav class="navbar is-transparent has-shadow">
  <div class="navbar-brand">
    <div class="navbar-burger burger" #navBurger (click)="toggleNavbar()" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" #navMenu class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['/home']">
        Home
      </a>
    </div>

    <div id="searchMovieInputDiv">
      <form #searchMovieForm="ngForm" (ngSubmit)="searchMovie(searchMovieForm)" class="my-form">
        <div class="control has-icons-right">
          <input class="input form-control" #movieName="ngModel" ngModel name="movieName" type="text" required>
          <span class="icon is-small is-right">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </form>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div *ngIf="userIsLogged()" class="navbar-item has-dropdown is-hoverable" id="user_dropdown">
          <a class="navbar-link">
            <i class="fas fa-user" style="margin-right: 10px;"></i>
            {{username}}
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" [routerLink]="[username, 'profile', 'edit']">
              Edit Profile
            </a>
            <a class="navbar-item" [routerLink]="[username, 'movies']">
              Movies
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" (click)="logout()">
              Logout
            </a>
          </div>
        </div>

        <div class="buttons">
          <a class="button is-primary" *ngIf="!userIsLogged()" href="/register">
            <strong>Cadastro</strong>
          </a>
          <a class="button is-light" *ngIf="!userIsLogged()" href="/login">
            Login
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
