.container {
  max-width: 100%;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

#popular_movies_row {
  display: flex;
  flex-wrap: wrap;
}

#popular_movies_row img {
  min-width: 115px;
  border-radius: 1em;
}

#popular_movies_row img:hover {
  border: 2px solid #00d1b2;
}

#popular_movies_row #movie_name {
  margin-top: 10px;
  font-size: 1.3em;
}

#popular_movies_row #movie_name a {
  text-decoration: none;
  font-style: normal;
  color: black;
}

#popular_movies_row #movie_name a:hover {
  color: #00d1b2;
}

@media only screen and (max-width: 700px) {
  #popular_movies_row img {
    max-width: 115px;
  }
}
