#movie_name {
  font-size: 2em;
  margin-top: 15px;
}

#genres_list {
  display: inline-flex;
}

.star {
  font-size: 3rem;
  color: lightgray;
}

.filled {
  color: #00d1b2;
}

#heart_icon:hover {
  color: red;
}

.favorited {
  color: red !important;
}

#watched_icon:hover {
  color: greenyellow;
}

.watched {
  color: greenyellow;
}

.button_icon {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.icon_default {
  color: lightgray;
}
