<div class="container">
  <div class="columns is-mobile is-centered" style="margin-top: 50px;">
    <div class="column has-text-centered">
      <a>
        <img src="../../assets/image-not-found.png">
      </a>
      <h2 id="movie_name">Nome do Filme</h2>
    </div>
  </div>
  <div class="columns is-mobile is-centered has-text-centered">
    <div class="column is-1">
      <i class="fas fa-eye" style="font-size: 2em;"></i>
    </div>
    <div class="column is-1">
      <i class="far fa-heart" id="heart_icon" style="font-size: 2em;"></i>
    </div>
  </div>
  <div class="columns is-mobile is-centered has-text-centered">
    <div class="column" style="font-size: 2em;">
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
    </div>
  </div>
  <div class="columns is-mobile is-centered has-text-centered">
    <div class="column is-7">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non leo neque. Donec laoreet massa non dolor
        rutrum, eget sodales leo dignissim. Duis ac eleifend nibh. Donec pretium dui sit amet felis sodales consectetur.
        Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed placerat felis. Vivamus a
        elit
        vitae diam hendrerit bibendum quis id massa. Integer at urna nec sem sollicitudin condimentum.
      </p>
    </div>

  </div>
</div>
