<div class="container">
  <div class="columns is-mobile is-centered" style="margin-top: 50px;">
    <div class="column has-text-centered">
      <a>
        <img id="movie_poster" src="{{posterPath}}">
      </a>

      <div id="movie_name_div">
        <h2 id="movie_name">{{title}} <span id="release_year">{{year}}</span></h2>
      </div>

      <div id="genres_list">
        <div *ngFor="let genero of genres; let i = index">
          <p *ngIf="i != (genres.length - 1)">{{genero.name}} <i class="fas fa-circle"
              style="font-size: 0.5em; margin: 0 10px 3px 10px;"></i> &nbsp;</p>
          <p *ngIf="i == (genres.length - 1)">{{genero.name}} &nbsp;</p>
        </div>
      </div>
    </div>
  </div>
  <div class="columns is-mobile is-centered has-text-centered" style="margin-bottom: 0;">
    <div class="column is-4" style="text-align: end;max-width: 130px;">
      <button (click)="watchMovie()" class="button_icon" [ngClass]="userMovies.watched ? 'watched' : 'icon_default'">
        <i class="fas fa-eye" id="watched_icon" style="font-size: 2em;"></i>
      </button>
    </div>
    <div class="column is-4" style="max-width: 130px;">
      <button (click)="favoriteMovie()" class="button_icon"
        [ngClass]="userMovies.favorite ? 'favorite' : 'icon_default'">
        <i class="fas fa-heart" id="heart_icon" style="font-size: 2em;"></i>
      </button>
    </div>
    <div class="column is-4" style="text-align: start; max-width: 130px;">
      <button (click)="saveMovie()" class="button_icon" [ngClass]="userMovies.saved ? 'saved' : 'icon_default'">
        <i class="fas fa-bookmark" id="save_icon" style="font-size: 2em;"></i>
      </button>
    </div>
  </div>
  <div class="columns is-mobile is-centered has-text-centered">
    <div class="column" style="font-size: 2em; padding-top: 0;">
      <ngb-rating [(rate)]="userMovies.rating" resettable="true" (rateChange)="rateMovie()">
        <ng-template let-fill="fill" let-index="index">
          <span class="star" [class.filled]="fill === 100">&#9733;</span>
        </ng-template>
      </ngb-rating>
    </div>
  </div>
  <div class="columns is-mobile is-centered has-text-centered">
    <div class="column is-7">
      <p>
        {{overview}}
      </p>
    </div>

  </div>
</div>
