<div class="container">
  <div class="columns is-mobile is-centered">
    <div class="column" id="form_col">
      <form [formGroup]="userForm" autocomplete="off" (ngSubmit)="onSubmit()" class="my-form">
        <div class="field form-group">
          <label class="label">First Name</label>
          <div class="control">
            <input class="input form-control" #firstName type="text" formControlName="firstName"
              placeholder="First Name" required>
          </div>
        </div>

        <div class="field form-group">
          <label class="label">Last Name</label>
          <div class="control">
            <input class="input form-control" #lastName type="text" formControlName="lastName" placeholder="Last Name"
              required>
          </div>
        </div>

        <div class="field form-group">
          <label class="label">Username</label>
          <div class="control has-icons-left">
            <input class="input form-control" #username type="text" formControlName="username" placeholder="Username"
              required>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
          <div *ngIf="!usernameValid">
            <p class="help is-danger">Username must have more than 3 characters!</p>
          </div>
        </div>

        <div class="field form-group">
          <label class="label">Email</label>
          <div class="control has-icons-left">
            <input class="input form-control" #email type="email" placeholder="Email" formControlName="email" required>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
          <div *ngIf="!emailValid">
            <p class="help is-danger">Email Invalid!</p>
          </div>
        </div>

        <div class="field form-group">
          <label class="label">Password</label>
          <p class="control has-icons-left">
            <input class="input form-control" #password type="password" placeholder="Password"
              formControlName="password" required>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
          <div *ngIf="!equalPass">
            <p class="help is-danger">The passswords must be the same!</p>
          </div>
          <div *ngIf="!minLength">
            <p class="help is-danger">The password musta have more than 6 characters!</p>
          </div>
        </div>

        <div class="field form-group">
          <label class="label">Confirm Password</label>
          <p class="control has-icons-left">
            <input class="input form-control" #confirmPassword type="password" placeholder="Confirm Password"
              formControlName="confirmPassword" required>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
          <div *ngIf="!equalPass">
            <p class="help is-danger">The passswords must be the same!</p>
          </div>
          <div *ngIf="!minLength">
            <p class="help is-danger">The password musta have more than 6 characters!</p>
          </div>
        </div>

        <div class="columns is-mobile is-centered" id="update_btn_div"
          style="width: 50%; margin: auto; text-align: center;">
          <div class="column">
            <button type="submit form-control" class="button is-success">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="columns is-mobile is-centered">
  <div class="column is-5">
    <article class="message is-danger" id="email_registered_notification" style="display: none;">
      <div class="message-header">
        <p>Error</p>
        <button class="delete" (click)="hideWarning('email')" aria-label="delete"></button>
      </div>
      <div class="message-body">
        This email has already been registered!
      </div>
    </article>
  </div>
</div>

<div class="columns is-mobile is-centered">
  <div class="column is-5">
    <article class="message is-danger" id="username_registered_notification" style="display: none;">
      <div class="message-header">
        <p>Error</p>
        <button class="delete" (click)="hideWarning('username')" aria-label="delete"></button>
      </div>
      <div class="message-body">
        This username has already been registered!
      </div>
    </article>
  </div>
</div>

<div class="columns is-mobile is-centered">
  <div class="column is-5">
    <article class="message is-danger" id="login_error_notification" style="display: none;">
      <div class="message-header">
        <p>Error</p>
        <button class="delete" (click)="hideWarning('login')" aria-label="delete"></button>
      </div>
      <div class="message-body">
        It was not possible to login!
      </div>
    </article>
  </div>
</div>
